<% include _header %>
<h1>Welcome to Learn About Me!</h1>
<% users.forEach(function(user) { %>
<div class="panel panel-default">
    <div class="panel-heading row">
        <div class="col-md-10 nopad">
            <a href="/users/<%= user.username %>">
                <%= user.name() %>
            </a>
        </div>
       <% if(currentUser) if(currentUser.role === 4){ %>
        <div class="col-md-2 alert alert-danger nopad text-center delUser" id="<%= user.username %>">
            Delete
        </div>
        <% } %>
    </div>
    <% if (user.bio) { %>
    <div class="panel-body"><%= user.bio %></div>
    <% } %>
</div>
<% }) %>
<% include _footer %>